<div class="row">

    <div class="col-md-6 col-md-offset-2">
      <h1>To Do Edit </h1>
      <form >
        <div class="form-group">
          <label for="Title">Title</label>
          <input type="text" class="form-control"  id="txtTitle">
          
        </div>
        <div class="form-group">
            <label for="comment">Description:</label>
            <textarea class="form-control" rows="3" id="txtdescription"></textarea>
          </div> 

        <div class="form-group">
            <label for="Status">Status:</label>
            <input type="checkbox"   id="chkStatus">
          
          </div>
  <button class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>